In [3]:
import pandas as pd


df = pd.read_csv("C:/Users/Nikos/Desktop/Project/data/transactions_1.csv")
df2 = pd.read_csv("C:/Users/Nikos/Desktop/Project/data/transactions_2.csv")
df3 = pd.read_csv("C:/Users/Nikos/Desktop/Project/data/transactions_3.csv")

#combining datasets in one CSV
transactions=pd.concat([df,df2,df3], ignore_index = True)

#saving to directory
transactions.to_csv(r'C:/Users/Nikos/Desktop/Project/data/all_transactions.csv', index = False)

In [76]:
df = pd.read_csv("C:/Users/Nikos/Desktop/Project/data/all_transactions.csv")

In [77]:
df2 = pd.read_csv("C:/Users/Nikos/Desktop/Project/data/users.csv")

In [98]:
df3 = pd.read_csv("C:/Users/Nikos/Desktop/Project/data/devices.csv")

In [101]:
df = pd.merge(df, df3, on='user_id')

In [78]:
data = pd.merge(df, df2, on='user_id')

In [79]:
data["user_id"].value_counts()

user_10883    3381
user_2034     2894
user_8883     2762
user_14986    2749
user_4681     2687
              ...
user_8949        1
user_1550        1
user_12974       1
user_9818        1
user_4437        1
Name: user_id, Length: 15012, dtype: int64

In [80]:
df=data.sort_values(by=['user_id'])

In [81]:
df.rename(columns={"created_date_y": "user_created_date", "created_date_x": "transaction_created_date"})

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_city,ea_merchant_country,direction,...,country,city,user_created_date,user_settings_crypto_unlocked,plan,attributes_notifications_marketing_push,attributes_notifications_marketing_email,num_contacts,num_referrals,num_successful_referrals
2012158,transaction_1665649,CARD_PAYMENT,NOK,4.52,COMPLETED,FALSE,5411.0,Oslo,NOR,OUTBOUND,...,ES,Madrid,2018-09-10 18:46:42.843855,0,STANDARD,1.0,1.0,3,0,0
2012277,transaction_1669651,CARD_PAYMENT,NOK,2.77,COMPLETED,FALSE,5411.0,Oslo,NOR,OUTBOUND,...,ES,Madrid,2018-09-10 18:46:42.843855,0,STANDARD,1.0,1.0,3,0,0
2012276,transaction_1669650,TOPUP,NOK,30.53,COMPLETED,NaN,NaN,NaN,NaN,INBOUND,...,ES,Madrid,2018-09-10 18:46:42.843855,0,STANDARD,1.0,1.0,3,0,0
2012275,transaction_1669645,CARD_PAYMENT,NOK,52.26,COMPLETED,FALSE,5691.0,Oslo,NOR,OUTBOUND,...,ES,Madrid,2018-09-10 18:46:42.843855,0,STANDARD,1.0,1.0,3,0,0
2012274,transaction_1669642,CARD_PAYMENT,NOK,3.84,COMPLETED,FALSE,5411.0,Oslo,NOR,OUTBOUND,...,ES,Madrid,2018-09-10 18:46:42.843855,0,STANDARD,1.0,1.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2180532,transaction_2172342,TOPUP,EUR,8.51,FAILED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180533,transaction_2172343,TOPUP,EUR,8.51,FAILED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180534,transaction_2172344,TOPUP,EUR,8.51,FAILED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180535,transaction_2178660,TOPUP,EUR,0.85,REVERTED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180536,transaction_2179006,TOPUP,EUR,8.51,COMPLETED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0

In [83]:
df.tail(10)

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_city,ea_merchant_country,direction,...,country,city,created_date_y,user_settings_crypto_unlocked,plan,attributes_notifications_marketing_push,attributes_notifications_marketing_email,num_contacts,num_referrals,num_successful_referrals
2180527,transaction_1936685,TOPUP,EUR,0.85,REVERTED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180528,transaction_1937279,TOPUP,EUR,8.51,REVERTED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180529,transaction_1937918,TOPUP,EUR,8.51,FAILED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180530,transaction_2167040,TOPUP,EUR,8.51,FAILED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180531,transaction_2167205,TOPUP,EUR,8.51,FAILED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180532,transaction_2172342,TOPUP,EUR,8.51,FAILED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180533,transaction_2172343,TOPUP,EUR,8.51,FAILED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180534,transaction_2172344,TOPUP,EUR,8.51,FAILED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180535,transaction_2178660,TOPUP,EUR,0.85,REVERTED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0
2180536,transaction_2179006,TOPUP,EUR,8.51,COMPLETED,NaN,NaN,NaN,NaN,INBOUND,...,PT,Linda-a-velha,2018-12-17 21:00:16.518284,0,STANDARD,1.0,1.0,0,0,0

In [84]:
df["user_id"]

2012158       user_0
2012277       user_0
2012276       user_0
2012275       user_0
2012274       user_0
             ...
2180532    user_9999
2180533    user_9999
2180534    user_9999
2180535    user_9999
2180536    user_9999
Name: user_id, Length: 2181026, dtype: object

In [89]:
df = df.drop(['city', 'attributes_notifications_marketing_push'], axis=1)

In [87]:
df.head()

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_city,ea_merchant_country,direction,user_id,created_date_x,birth_year,country,city,created_date_y,user_settings_crypto_unlocked,plan,attributes_notifications_marketing_push,num_contacts
2012158,transaction_1665649,CARD_PAYMENT,NOK,4.52,COMPLETED,FALSE,5411.0,Oslo,NOR,OUTBOUND,user_0,2018-11-30 06:47:33.359855,1992,ES,Madrid,2018-09-10 18:46:42.843855,0,STANDARD,1.0,3
2012277,transaction_1669651,CARD_PAYMENT,NOK,2.77,COMPLETED,FALSE,5411.0,Oslo,NOR,OUTBOUND,user_0,2018-12-12 00:50:52.919855,1992,ES,Madrid,2018-09-10 18:46:42.843855,0,STANDARD,1.0,3
2012276,transaction_1669650,TOPUP,NOK,30.53,COMPLETED,NaN,NaN,NaN,NaN,INBOUND,user_0,2018-11-29 06:58:33.371855,1992,ES,Madrid,2018-09-10 18:46:42.843855,0,STANDARD,1.0,3
2012275,transaction_1669645,CARD_PAYMENT,NOK,52.26,COMPLETED,FALSE,5691.0,Oslo,NOR,OUTBOUND,user_0,2018-11-30 02:59:06.723855,1992,ES,Madrid,2018-09-10 18:46:42.843855,0,STANDARD,1.0,3
2012274,transaction_1669642,CARD_PAYMENT,NOK,3.84,COMPLETED,FALSE,5411.0,Oslo,NOR,OUTBOUND,user_0,2018-12-01 04:46:29.684855,1992,ES,Madrid,2018-09-10 18:46:42.843855,0,STANDARD,1.0,3

In [90]:
df.columns

Index(['transaction_id', 'transactions_type', 'transactions_currency',
       'amount_usd', 'transactions_state', 'ea_cardholderpresence',
       'ea_merchant_mcc', 'ea_merchant_city', 'ea_merchant_country',
       'direction', 'user_id', 'created_date_x', 'birth_year', 'country',
       'created_date_y', 'user_settings_crypto_unlocked', 'plan',
       'num_contacts'],
      dtype='object')

In [91]:
df =df.rename(columns={"created_date_y": "user_created_date", "created_date_x": "transaction_created_date"})

In [92]:
df.columns

Index(['transaction_id', 'transactions_type', 'transactions_currency',
       'amount_usd', 'transactions_state', 'ea_cardholderpresence',
       'ea_merchant_mcc', 'ea_merchant_city', 'ea_merchant_country',
       'direction', 'user_id', 'transaction_created_date', 'birth_year',
       'country', 'user_created_date', 'user_settings_crypto_unlocked', 'plan',
       'num_contacts'],
      dtype='object')

In [96]:
df = df.drop(["ea_merchant_country"], axis=1)

In [103]:
df.columns

Index(['transaction_id', 'transactions_type', 'transactions_currency',
       'amount_usd', 'transactions_state', 'ea_cardholderpresence',
       'direction', 'user_id', 'transaction_created_date', 'birth_year',
       'country', 'user_created_date', 'user_settings_crypto_unlocked', 'plan',
       'num_contacts', 'brand'],
      dtype='object')

In [105]:
df.head(10)

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,direction,user_id,transaction_created_date,birth_year,country,user_created_date,user_settings_crypto_unlocked,plan,num_contacts,brand
0,transaction_1665649,CARD_PAYMENT,NOK,4.52,COMPLETED,FALSE,OUTBOUND,user_0,2018-11-30 06:47:33.359855,1992,ES,2018-09-10 18:46:42.843855,0,STANDARD,3,Apple
1,transaction_1669651,CARD_PAYMENT,NOK,2.77,COMPLETED,FALSE,OUTBOUND,user_0,2018-12-12 00:50:52.919855,1992,ES,2018-09-10 18:46:42.843855,0,STANDARD,3,Apple
2,transaction_1669650,TOPUP,NOK,30.53,COMPLETED,NaN,INBOUND,user_0,2018-11-29 06:58:33.371855,1992,ES,2018-09-10 18:46:42.843855,0,STANDARD,3,Apple
3,transaction_1669645,CARD_PAYMENT,NOK,52.26,COMPLETED,FALSE,OUTBOUND,user_0,2018-11-30 02:59:06.723855,1992,ES,2018-09-10 18:46:42.843855,0,STANDARD,3,Apple
4,transaction_1669642,CARD_PAYMENT,NOK,3.84,COMPLETED,FALSE,OUTBOUND,user_0,2018-12-01 04:46:29.684855,1992,ES,2018-09-10 18:46:42.843855,0,STANDARD,3,Apple
5,transaction_1669636,CARD_PAYMENT,NOK,5.66,COMPLETED,FALSE,OUTBOUND,user_0,2018-11-28 22:25:38.567855,1992,ES,2018-09-10 18:46:42.843855,0,STANDARD,3,Apple
6,transaction_1669633,CARD_PAYMENT,NOK,5.09,COMPLETED,FALSE,OUTBOUND,user_0,2018-12-01 04:03:24.219855,1992,ES,2018-09-10 18:46:42.843855,0,STANDARD,3,Apple
7,transaction_1669632,CARD_PAYMENT,NOK,1.92,COMPLETED,FALSE,OUTBOUND,user_0,2018-12-02 18:05:38.641855,1992,ES,2018-09-10 18:46:42.843855,0,STANDARD,3,Apple
8,transaction_1669655,TOPUP,NOK,17.45,COMPLETED,NaN,INBOUND,user_0,2018-12-03 05:21:59.074855,1992,ES,2018-09-10 18:46:42.843855,0,STANDARD,3,Apple
9,transaction_1669629,TOPUP,NOK,8.72,COMPLETED,NaN,INBOUND,user_0,2018-11-27 20:37:57.160855,1992,ES,2018-09-10 18:46:42.843855,0,STANDARD,3,Apple

In [106]:
df["plan"].unique()

array(['STANDARD', 'GOLD', 'SILVER'], dtype=object)

In [107]:
plan_ = {"STANDARD": 0,"SILVER": 1,"GOLD": 1}
df['plan'] = df['plan'].map(plan_)

In [108]:
df.columns

Index(['transaction_id', 'transactions_type', 'transactions_currency',
       'amount_usd', 'transactions_state', 'ea_cardholderpresence',
       'direction', 'user_id', 'transaction_created_date', 'birth_year',
       'country', 'user_created_date', 'user_settings_crypto_unlocked', 'plan',
       'num_contacts', 'brand'],
      dtype='object')

In [109]:
df["plan"].unique()

array([0, 1], dtype=int64)

In [110]:
len(df)

2181026

In [111]:
df

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,direction,user_id,transaction_created_date,birth_year,country,user_created_date,user_settings_crypto_unlocked,plan,num_contacts,brand
0,transaction_1665649,CARD_PAYMENT,NOK,4.52,COMPLETED,FALSE,OUTBOUND,user_0,2018-11-30 06:47:33.359855,1992,ES,2018-09-10 18:46:42.843855,0,0,3,Apple
1,transaction_1669651,CARD_PAYMENT,NOK,2.77,COMPLETED,FALSE,OUTBOUND,user_0,2018-12-12 00:50:52.919855,1992,ES,2018-09-10 18:46:42.843855,0,0,3,Apple
2,transaction_1669650,TOPUP,NOK,30.53,COMPLETED,NaN,INBOUND,user_0,2018-11-29 06:58:33.371855,1992,ES,2018-09-10 18:46:42.843855,0,0,3,Apple
3,transaction_1669645,CARD_PAYMENT,NOK,52.26,COMPLETED,FALSE,OUTBOUND,user_0,2018-11-30 02:59:06.723855,1992,ES,2018-09-10 18:46:42.843855,0,0,3,Apple
4,transaction_1669642,CARD_PAYMENT,NOK,3.84,COMPLETED,FALSE,OUTBOUND,user_0,2018-12-01 04:46:29.684855,1992,ES,2018-09-10 18:46:42.843855,0,0,3,Apple
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2181021,transaction_2172342,TOPUP,EUR,8.51,FAILED,NaN,INBOUND,user_9999,2019-05-09 23:01:32.788284,1990,PT,2018-12-17 21:00:16.518284,0,0,0,Apple
2181022,transaction_2172343,TOPUP,EUR,8.51,FAILED,NaN,INBOUND,user_9999,2019-05-09 22:59:35.730284,1990,PT,2018-12-17 21:00:16.518284,0,0,0,Apple
2181023,transaction_2172344,TOPUP,EUR,8.51,FAILED,NaN,INBOUND,user_9999,2019-05-09 23:15:29.840284,1990,PT,2018-12-17 21:00:16.518284,0,0,0,Apple
2181024,transaction_2178660,TOPUP,EUR,0.85,REVERTED,NaN,INBOUND,user_9999,2019-05-07 23:21:55.532284,1990,PT,2018-12-17 21:00:16.518284,0,0,0,Apple
2181025,transaction_2179006,TOPUP,EUR,8.51,COMPLETED,NaN,INBOUND,user_9999,2019-05-10 14:07:57.842284,1990,PT,2018-12-17 21:00:16.518284,0,0,0,Apple

## Na mapparoume ta crypto kai ta fiat se numerical values 

#### Na ta kathgoriopoiisoume

In [115]:
df.to_csv(r'C:/Users/Nikos/Desktop/Project/data/final_df.csv', index = False)

In [114]:
df =df.rename(columns={"country": "user_country"})

In [117]:
df["ea_cardholderpresence"]

0          FALSE
1          FALSE
2            NaN
3          FALSE
4          FALSE
           ...
2181021      NaN
2181022      NaN
2181023      NaN
2181024      NaN
2181025      NaN
Name: ea_cardholderpresence, Length: 2181026, dtype: object

In [118]:
df["ea_cardholderpresence"].unique()

array(['FALSE', nan, 'TRUE', 'UNKNOWN'], dtype=object)

In [7]:
df["transactions_currency"].unique()

array(['AED', 'SEK', 'AUD', 'GBP', 'ETH', 'RUB', 'CHF', 'HRK', 'LTC',
       'MAD', 'BTC', 'NZD', 'JPY', 'ILS', 'QAR', 'MXN', 'DKK', 'SGD',
       'ZAR', 'BGN', 'USD', 'INR', 'THB', 'RON', 'HUF', 'TRY', 'XRP',
       'PLN', 'EUR', 'BCH', 'CZK', 'CAD', 'NOK', 'HKD', 'SAR'],
      dtype=object)

In [116]:
df.isna().any()

transaction_id                   False
transactions_type                False
transactions_currency            False
amount_usd                       False
transactions_state               False
ea_cardholderpresence             True
direction                        False
user_id                          False
transaction_created_date         False
birth_year                       False
user_country                     False
user_created_date                False
user_settings_crypto_unlocked    False
plan                             False
num_contacts                     False
brand                            False
dtype: bool

In [34]:
df["transactions_state"].unique()

array(['COMPLETED', 'REVERTED', 'DECLINED', 'PENDING', 'FAILED',
       'CANCELLED'], dtype=object)

In [119]:
df["ea_cardholderpresence"].value_counts()

FALSE      1012235
TRUE        231311
UNKNOWN       4274
Name: ea_cardholderpresence, dtype: int64

In [37]:
df.isna().any()

transaction_id           False
transactions_type        False
transactions_currency    False
amount_usd               False
transactions_state       False
ea_cardholderpresence     True
ea_merchant_mcc           True
ea_merchant_city          True
ea_merchant_country       True
direction                False
user_id                  False
created_date             False
dtype: bool

In [38]:
df.isna().sum()

transaction_id                0
transactions_type             0
transactions_currency         0
amount_usd                    0
transactions_state            0
ea_cardholderpresence    933206
ea_merchant_mcc          923975
ea_merchant_city         924080
ea_merchant_country      924239
direction                     0
user_id                       0
created_date                  0
dtype: int64

In [40]:
df.ea_cardholderpresence.isna().sum()

933206

In [95]:
df["ea_merchant_country"].unique()

array(['NOR', nan, 'FRA', 'ESP', 'AUS', 'RUS', 'LTU', 'TUR', 'IDN', 'NLD',
       'GBR', 'CHN', 'HUN', 'BRA', 'PRT', 'SWE', 'ITA', 'GRC', 'AUT',
       'DEU', 'SVN', 'POL', 'USA', 'CHE', 'ROM', 'IRL', 'HRV', 'HKG',
       'CAN', 'ARE', 'JPN', 'LUX', 'GLP', 'MEX', 'CZE', 'BGR', 'BEL',
       'ZAF', 'IND', 'SYC', 'EGY', 'THA', 'LAO', 'VNM', 'CHL', 'PER',
       'GTM', 'ARG', 'DOM', 'PRI', 'ISR', 'COL', 'PSE', 'MLT', 'DNK',
       'MYS', 'NGA', 'SGP', 'ROU', 'NZL', 'ISL', 'MMR', 'UGA', 'KEN',
       'CMR', 'CIV', 'CYP', 'GIB', 'SVK', 'EST', 'QAT', 'URY', 'CRI',
       'LVA', 'FIN', 'CPV', 'UKR', 'GEO', 'BRB', 'CUB', 'BIH', 'JOR',
       'MDV', 'KOR', 'OMN', 'SRB', 'AND', 'ATG', 'GRD', 'KHM', 'PHL',
       'BLZ', 'PAN', 'SLV', 'NIC', 'HND', 'KAZ', 'MAR', 'MDG', 'TZA',
       'REU', 'MCO', 'VGB', 'VIR', 'ALB', 'GHA', 'MNE', 'MDA', 'LKA',
       'AZE', 'BHS', 'BLR', 'MTQ', 'MOZ', 'TKM', 'VAT', 'TWN', 'BMU',
       'ETH', 'ECU', 'SMR', 'MUS', 'LSO', 'SWZ', 'TCD', 'GNQ', 'ZWE',
       'ZMB', 'SEN', 'JAM', 'KGZ', 'BEN', 'MAC', 'MKD', 'GGY', 'PRY',
       'NAM', 'TUN', 'JEY', 'PYF', 'BRN', 'BHR', 'GUF', 'LBN', 'NPL',
       'KNA', 'KWT', 'TCA', 'PAK', 'SAU', 'LCA', 'BOL', 'LIE', 'BWA',
       'MWI', 'ARM', 'DZA', 'TTO', 'GIN', 'RWA', 'QZZ', 'CUW', 'ABW',
       'FJI', 'IMN', 'DMA', 'CYM', 'SXM', 'COK', 'SUR', 'MNG', 'GAB',
       'FRO', 'AGO', 'NCL', 'VEN', 'ANT', 'UZB', 'VUT', 'HMD', 'GMB',
       'NER', 'MYT', 'VCT', 'ZAR', 'AIA', 'COD', 'BFA', 'SCH', 'APT',
       'SGB', 'PGB', 'AGB', 'TGO', 'BGD', 'MAF', 'PCN'], dtype=object)

In [50]:
df['direction'].value_counts()

OUTBOUND    1759079
INBOUND      421947
Name: direction, dtype: int64

In [51]:
df["direction"].unique()

array(['OUTBOUND', 'INBOUND'], dtype=object)

In [52]:
df.direction.isna().sum()

0

In [25]:
#transactions.to_csv(r'C:/Users/Nikos/Desktop/Project/data/all_transactions.csv', index = False)

In [ ]:
#df = pd.read_csv("C:/Users/Nikos/Desktop/Project/data/transactions_1.csv")

df.direction.isna().sum()
df.direction.isna().sum()

In [55]:
df = pd.read_csv("C:/Users/Nikos/Desktop/Project/data/notifications.csv")

In [56]:
df.head(30)

,reason,channel,status,user_id,created_date
0,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_1252,2018-12-02 17:58:33.320645
1,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_12783,2018-12-01 23:09:37.367127
2,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_10244,2018-12-04 02:57:56.425660
3,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_14486,2018-12-14 17:09:58.900808
4,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_28,2018-12-11 12:42:59.718574
5,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_10818,2018-12-11 07:28:56.046194
6,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_11885,2018-12-12 07:06:16.080605
7,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_1452,2018-12-11 01:01:32.525047
8,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_2728,2018-12-12 04:01:51.142481
9,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_12621,2018-12-11 00:40:17.507802
10,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_8468,2018-12-11 11:56:13.449674
11,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_6958,2018-12-14 10:30:30.213369
12,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_10153,2018-12-14 22:47:23.566310
13,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_6792,2018-12-14 04:24:42.325222
14,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_14065,2018-12-14 14:23:29.159484
15,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_14315,2018-12-14 07:59:31.502125
16,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_4627,2018-12-15 03:30:56.988118
17,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_10081,2018-12-08 05:43:15.517873
18,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_10189,2018-12-08 17:29:51.030884
19,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_13281,2018-12-08 23:48:06.235501
20,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_14155,2018-12-09 15:43:32.430803
21,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_6621,2018-12-08 13:20:37.271663
22,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_2589,2018-12-15 01:12:34.392220
23,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_5145,2018-12-13 23:00:53.593182
24,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_14143,2018-12-14 00:25:25.384084
25,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_12410,2018-12-15 02:33:14.017041
26,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_2898,2018-12-14 08:11:58.146225
27,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_813,2018-12-14 04:35:35.230229
28,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_13729,2018-12-13 23:39:15.978391
29,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_8111,2018-12-16 21:27:50.560555

In [61]:
df["status"].value_counts()

SENT      71693
FAILED    26011
Name: status, dtype: int64

In [62]:
df["reason"].unique()

array(['REENGAGEMENT_ACTIVE_FUNDS', 'BLUE_TUESDAY', 'NO_INITIAL_CARD_USE',
       'ENGAGEMENT_SPLIT_BILL_RESTAURANT', 'METAL_RESERVE_PLAN',
       'ONBOARDING_TIPS_ACTIVATED_USERS',
       'MADE_MONEY_REQUEST_NOT_SPLIT_BILL',
       'SILVER_ENGAGEMENT_INACTIVE_CARD', 'NO_INITIAL_CARD_ORDER',
       'SILVER_ENGAGEMENT_FEES_SAVED', 'PROMO', 'WELCOME_BACK',
       'PROMO_CARD_ORDER', 'LOST_CARD_ORDER', 'BLACK_FRIDAY',
       'INVEST_IN_GOLD', 'JOINING_ANNIVERSARY'], dtype=object)

In [63]:
df["created_date"].value_counts()

2018-03-11 04:17:47.835345    2
2018-07-15 16:27:12.192706    2
2018-03-15 08:34:34.761530    2
2019-01-16 20:10:51.131796    1
2018-12-31 23:53:50.464387    1
                             ..
2018-09-27 18:05:57.575134    1
2018-03-16 18:20:29.656984    1
2018-10-15 07:58:27.806168    1
2018-10-01 21:58:39.133366    1
2018-12-13 16:15:11.344561    1
Name: created_date, Length: 97701, dtype: int64

In [57]:
df.isna().any()

reason          False
channel         False
status          False
user_id         False
created_date    False
dtype: bool

transaction_id           False
transactions_type        False
transactions_currency    False
amount_usd               False
transactions_state       False
ea_cardholderpresence     True
ea_merchant_mcc           True
ea_merchant_city          True
ea_merchant_country       True
direction                False
user_id                  False
created_date             False
dtype: bool

KeyError: 'attributes_notifications_marketing_email'

In [ ]:
all_together.dropna(inplace= True)

In [ ]:
#

---------------------------
user_id
['user_0' 'user_1' 'user_2' ... 'user_15541' 'user_15542' 'user_15543']
user_13519    1
user_7558     1
user_14525    1
user_11645    1
user_9319     1
             ..
user_3591     1
user_1875     1
user_9006     1
user_11582    1
user_11246    1
Name: user_id, Length: 15544, dtype: int64
---------------------------
birth_year
[1992 1985 1996 1981 1990 1998 2000 1949 1960 1980 1962 1978 1995 1994
 1979 1965 1997 1959 1957 1983 1986 1976 1991 1982 1946 1989 1973 1993
 1977 1987 1999 1971 1975 1966 1988 1961 1958 1972 1974 1984 1968 1942
 1950 1967 1970 1964 1956 1963 1941 1944 1954 1945 1947 1969 1955 1952
 1948 1953 1951 1943 2001 1929 1940 1937 1935 1938 1934 1939 1930]
1992    748
1989    689
1988    680
1993    679
1990    670
       ...
1939      2
1929      1
1930      1
1938      1
1935      1
Name: birth_year, Length: 69, dtype: int64
---------------------------
country
['ES' 'LT' 'IE' 'GB' 'MT' 'FR' 'RO' 'PL' 'AT' 'IT' 'SI' 'CZ' 'BE' 'BG'
 'GI' 'CH' 'GG' 'CY' 'LV' 'DE' 'SK' 'GR' 'DK' 'PT' 'LU' 'HR' 'NL' 'NO'
 'SE' 'AU' 'IM' 'FI' 'EE' 'JE' 'HU' 'RE' 'IS' 'GP' 'LI' 'MQ']
GB    5018
PL    1834
FR    1696
IE     995
RO     873
ES     784
LT     541
PT     487
MT     437
DE     358
CH     350
CZ     287
IT     241
GR     182
CY     154
LV     133
NL     132
HU     125
BE     113
SE     104
BG      78
DK      77
NO      75
SI      71
AT      68
SK      65
HR      49
JE      45
GI      35
FI      32
EE      30
LU      21
GG      14
GP       9
RE       7
IM       7
IS       6
AU       4
LI       4
MQ       3
Name: country, dtype: int64
---------------------------
city
['Madrid' 'Klaipeda' 'Carrickmacross' ... 'Schilde' 'Bralin' 'Andover']
London                1342
Warszawa               330
Paris                  292
Dublin                 286
Vilnius                271
                      ...
Ingolstadt               1
Broxbourne               1
Seregno                  1
Brussels Molenbeek       1
Frimley                  1
Name: city, Length: 5197, dtype: int64
---------------------------
created_date
['2018-09-10 18:46:42.843855' '2018-01-11 18:53:10.531146'
 '2018-11-29 17:29:16.879324' ... '2018-07-13 15:56:50.339746'
 '2018-01-07 15:53:43.719983' '2018-08-18 12:17:02.086815']
2018-11-28 08:28:14.411897    1
2018-01-10 19:38:51.620140    1
2018-12-26 09:42:56.137189    1
2018-01-13 21:38:01.528520    1
2018-10-14 00:14:07.678716    1
                             ..
2018-10-13 06:00:44.628124    1
2018-10-27 14:52:30.735637    1
2018-05-10 16:29:02.948891    1
2018-12-02 14:34:53.659526    1
2018-03-30 14:11:48.307871    1
Name: created_date, Length: 15544, dtype: int64
---------------------------
user_settings_crypto_unlocked
[0 1]
0    12709
1     2835
Name: user_settings_crypto_unlocked, dtype: int64
---------------------------
plan
['STANDARD' 'GOLD' 'SILVER']
STANDARD    14394
SILVER        713
GOLD          437
Name: plan, dtype: int64
---------------------------
attributes_notifications_marketing_push
[ 1. nan  0.]
1.0    9752
0.0     532
Name: attributes_notifications_marketing_push, dtype: int64
---------------------------
attributes_notifications_marketing_email
[ 1. nan  0.]
1.0    9209
0.0    1075
Name: attributes_notifications_marketing_email, dtype: int64
---------------------------
num_contacts
[   3   75   71  219    0   77   10   42   19    6    2   22    5   20
   11  177    1   14   15   24   50   12   21    7   65  119   70   73
   31   16   51   26   79   55   13   18    9   39   56   68    4   62
   40    8   54  115   35   64   28   91   98   30   47   23   41  231
   57   17   32   72   34   36   33   29   43   82   25   83   88   94
  252   61   66   52   44   67   78   37  102  120   45   27   59   53
  244  381   48  123   46   85   95  112  139   38  345  122  432   69
   49  655   93  178  228  110  147   89  168  143   87   80  385  233
   63  214   58  182  307  103  109  105   76  204  104   90  148  113
   60  146  156  312  222  118  209  144  100   92  203   86  155  128
  186  107  124  150  251  174  438  364  167  106  127  129  191  134
  149  121  170   96   74  101  158  111  241  225  213  216  181   97
  163  205  160  130  117 1262  114   81  212   99  125  137  108  135
  131  157  192  142  173 2918  152 1785  230  164  401  207  238  319
  193  239  116  136  166  154  140  472  138  162  278  133  153  171
  288  237  184  179  189  256  267  300 1071  159  291  224  329  322
  305  132   84  190  349  476  234  202  161  281  221  198  242  670
  276  206  264  180  215  169  282  265  145  488  263  141  172  328
  268  419  254  197  296  187  220  301  320  246  299  229  217  175
  304  211  496  440  283  474  165  227  414  379  549  126  236  807
  200  404  563]
0      5539
2       547
1       526
3       525
4       489
       ...
212       1
236       1
244       1
252       1
379       1
Name: num_contacts, Length: 283, dtype: int64
---------------------------
num_referrals
[0]
0    15544
Name: num_referrals, dtype: int64
---------------------------
num_successful_referrals
[0]
0    15544
Name: num_successful_referrals, dtype: int64

In [13]:

for i in range(len(df.columns)):
    print("----------------------------")
    print(df.columns[i])
    print(df.iloc[:, i].unique())
    print(df.iloc[:, i].value_counts())

----------------------------
user_id
['user_0' 'user_1' 'user_2' ... 'user_15541' 'user_15542' 'user_15543']
user_9828     1
user_10808    1
user_3874     1
user_5812     1
user_6253     1
             ..
user_7128     1
user_7156     1
user_9244     1
user_10268    1
user_8434     1
Name: user_id, Length: 15544, dtype: int64
----------------------------
birth_year
[1992 1985 1996 1981 1990 1998 2000 1949 1960 1980 1962 1978 1995 1994
 1979 1965 1997 1959 1957 1983 1986 1976 1991 1982 1946 1989 1973 1993
 1977 1987 1999 1971 1975 1966 1988 1961 1958 1972 1974 1984 1968 1942
 1950 1967 1970 1964 1956 1963 1941 1944 1954 1945 1947 1969 1955 1952
 1948 1953 1951 1943 2001 1929 1940 1937 1935 1938 1934 1939 1930]
1992    748
1989    689
1988    680
1993    679
1990    670
       ...
1939      2
1929      1
1930      1
1938      1
1935      1
Name: birth_year, Length: 69, dtype: int64
----------------------------
country
['ES' 'LT' 'IE' 'GB' 'MT' 'FR' 'RO' 'PL' 'AT' 'IT' 'SI' 'CZ' 'BE' 'BG'
 'GI' 'CH' 'GG' 'CY' 'LV' 'DE' 'SK' 'GR' 'DK' 'PT' 'LU' 'HR' 'NL' 'NO'
 'SE' 'AU' 'IM' 'FI' 'EE' 'JE' 'HU' 'RE' 'IS' 'GP' 'LI' 'MQ']
GB    5018
PL    1834
FR    1696
IE     995
RO     873
ES     784
LT     541
PT     487
MT     437
DE     358
CH     350
CZ     287
IT     241
GR     182
CY     154
LV     133
NL     132
HU     125
BE     113
SE     104
BG      78
DK      77
NO      75
SI      71
AT      68
SK      65
HR      49
JE      45
GI      35
FI      32
EE      30
LU      21
GG      14
GP       9
RE       7
IM       7
IS       6
AU       4
LI       4
MQ       3
Name: country, dtype: int64
----------------------------
city
['Madrid' 'Klaipeda' 'Carrickmacross' ... 'Schilde' 'Bralin' 'Andover']
London              1342
Warszawa             330
Paris                292
Dublin               286
Vilnius              271
                    ...
Madliena               1
Caracal                1
Caldas da rainha       1
Gällstad               1
Patrick                1
Name: city, Length: 5197, dtype: int64
----------------------------
created_date
['2018-09-10 18:46:42.843855' '2018-01-11 18:53:10.531146'
 '2018-11-29 17:29:16.879324' ... '2018-07-13 15:56:50.339746'
 '2018-01-07 15:53:43.719983' '2018-08-18 12:17:02.086815']
2018-05-14 05:14:42.215425    1
2018-12-05 04:43:16.462537    1
2018-04-29 18:27:36.319723    1
2018-03-13 03:45:12.518114    1
2018-04-08 05:01:46.625612    1
                             ..
2018-08-26 17:44:28.345557    1
2018-08-06 14:05:26.415107    1
2018-06-26 09:33:47.688380    1
2018-12-04 01:38:32.315658    1
2018-05-17 23:19:00.818136    1
Name: created_date, Length: 15544, dtype: int64
----------------------------
user_settings_crypto_unlocked
[0 1]
0    12709
1     2835
Name: user_settings_crypto_unlocked, dtype: int64
----------------------------
plan
['STANDARD' 'GOLD' 'SILVER']
STANDARD    14394
SILVER        713
GOLD          437
Name: plan, dtype: int64
----------------------------
attributes_notifications_marketing_push
[ 1. nan  0.]
1.0    9752
0.0     532
Name: attributes_notifications_marketing_push, dtype: int64
----------------------------
attributes_notifications_marketing_email
[ 1. nan  0.]
1.0    9209
0.0    1075
Name: attributes_notifications_marketing_email, dtype: int64
----------------------------
num_contacts
[   3   75   71  219    0   77   10   42   19    6    2   22    5   20
   11  177    1   14   15   24   50   12   21    7   65  119   70   73
   31   16   51   26   79   55   13   18    9   39   56   68    4   62
   40    8   54  115   35   64   28   91   98   30   47   23   41  231
   57   17   32   72   34   36   33   29   43   82   25   83   88   94
  252   61   66   52   44   67   78   37  102  120   45   27   59   53
  244  381   48  123   46   85   95  112  139   38  345  122  432   69
   49  655   93  178  228  110  147   89  168  143   87   80  385  233
   63  214   58  182  307  103  109  105   76  204  104   90  148  113
   60  146  156  312  222  118  209  144  100   92  203   86  155  128
  186  107  124  150  251  174  438  364  167  106  127  129  191  134
  149  121  170   96   74  101  158  111  241  225  213  216  181   97
  163  205  160  130  117 1262  114   81  212   99  125  137  108  135
  131  157  192  142  173 2918  152 1785  230  164  401  207  238  319
  193  239  116  136  166  154  140  472  138  162  278  133  153  171
  288  237  184  179  189  256  267  300 1071  159  291  224  329  322
  305  132   84  190  349  476  234  202  161  281  221  198  242  670
  276  206  264  180  215  169  282  265  145  488  263  141  172  328
  268  419  254  197  296  187  220  301  320  246  299  229  217  175
  304  211  496  440  283  474  165  227  414  379  549  126  236  807
  200  404  563]
0      5539
2       547
1       526
3       525
4       489
       ...
212       1
236       1
244       1
252       1
379       1
Name: num_contacts, Length: 283, dtype: int64
----------------------------
num_referrals
[0]
0    15544
Name: num_referrals, dtype: int64
----------------------------
num_successful_referrals
[0]
0    15544
Name: num_successful_referrals, dtype: int64

---------------------------
user_id
['user_0' 'user_1' 'user_2' ... 'user_15541' 'user_15542' 'user_15543']
user_13519    1
user_7558     1
user_14525    1
user_11645    1
user_9319     1
             ..
user_3591     1
user_1875     1
user_9006     1
user_11582    1
user_11246    1
Name: user_id, Length: 15544, dtype: int64
---------------------------
birth_year
[1992 1985 1996 1981 1990 1998 2000 1949 1960 1980 1962 1978 1995 1994
 1979 1965 1997 1959 1957 1983 1986 1976 1991 1982 1946 1989 1973 1993
 1977 1987 1999 1971 1975 1966 1988 1961 1958 1972 1974 1984 1968 1942
 1950 1967 1970 1964 1956 1963 1941 1944 1954 1945 1947 1969 1955 1952
 1948 1953 1951 1943 2001 1929 1940 1937 1935 1938 1934 1939 1930]
1992    748
1989    689
1988    680
1993    679
1990    670
       ...
1939      2
1929      1
1930      1
1938      1
1935      1
Name: birth_year, Length: 69, dtype: int64
---------------------------
country
['ES' 'LT' 'IE' 'GB' 'MT' 'FR' 'RO' 'PL' 'AT' 'IT' 'SI' 'CZ' 'BE' 'BG'
 'GI' 'CH' 'GG' 'CY' 'LV' 'DE' 'SK' 'GR' 'DK' 'PT' 'LU' 'HR' 'NL' 'NO'
 'SE' 'AU' 'IM' 'FI' 'EE' 'JE' 'HU' 'RE' 'IS' 'GP' 'LI' 'MQ']
GB    5018
PL    1834
FR    1696
IE     995
RO     873
ES     784
LT     541
PT     487
MT     437
DE     358
CH     350
CZ     287
IT     241
GR     182
CY     154
LV     133
NL     132
HU     125
BE     113
SE     104
BG      78
DK      77
NO      75
SI      71
AT      68
SK      65
HR      49
JE      45
GI      35
FI      32
EE      30
LU      21
GG      14
GP       9
RE       7
IM       7
IS       6
AU       4
LI       4
MQ       3
Name: country, dtype: int64
---------------------------
city
['Madrid' 'Klaipeda' 'Carrickmacross' ... 'Schilde' 'Bralin' 'Andover']
London                1342
Warszawa               330
Paris                  292
Dublin                 286
Vilnius                271
                      ...
Ingolstadt               1
Broxbourne               1
Seregno                  1
Brussels Molenbeek       1
Frimley                  1
Name: city, Length: 5197, dtype: int64
---------------------------
created_date
['2018-09-10 18:46:42.843855' '2018-01-11 18:53:10.531146'
 '2018-11-29 17:29:16.879324' ... '2018-07-13 15:56:50.339746'
 '2018-01-07 15:53:43.719983' '2018-08-18 12:17:02.086815']
2018-11-28 08:28:14.411897    1
2018-01-10 19:38:51.620140    1
2018-12-26 09:42:56.137189    1
2018-01-13 21:38:01.528520    1
2018-10-14 00:14:07.678716    1
                             ..
2018-10-13 06:00:44.628124    1
2018-10-27 14:52:30.735637    1
2018-05-10 16:29:02.948891    1
2018-12-02 14:34:53.659526    1
2018-03-30 14:11:48.307871    1
Name: created_date, Length: 15544, dtype: int64
---------------------------
user_settings_crypto_unlocked
[0 1]
0    12709
1     2835
Name: user_settings_crypto_unlocked, dtype: int64
---------------------------
plan
['STANDARD' 'GOLD' 'SILVER']
STANDARD    14394
SILVER        713
GOLD          437
Name: plan, dtype: int64
---------------------------
attributes_notifications_marketing_push
[ 1. nan  0.]
1.0    9752
0.0     532
Name: attributes_notifications_marketing_push, dtype: int64
---------------------------
attributes_notifications_marketing_email
[ 1. nan  0.]
1.0    9209
0.0    1075
Name: attributes_notifications_marketing_email, dtype: int64
---------------------------
num_contacts
[   3   75   71  219    0   77   10   42   19    6    2   22    5   20
   11  177    1   14   15   24   50   12   21    7   65  119   70   73
   31   16   51   26   79   55   13   18    9   39   56   68    4   62
   40    8   54  115   35   64   28   91   98   30   47   23   41  231
   57   17   32   72   34   36   33   29   43   82   25   83   88   94
  252   61   66   52   44   67   78   37  102  120   45   27   59   53
  244  381   48  123   46   85   95  112  139   38  345  122  432   69
   49  655   93  178  228  110  147   89  168  143   87   80  385  233
   63  214   58  182  307  103  109  105   76  204  104   90  148  113
   60  146  156  312  222  118  209  144  100   92  203   86  155  128
  186  107  124  150  251  174  438  364  167  106  127  129  191  134
  149  121  170   96   74  101  158  111  241  225  213  216  181   97
  163  205  160  130  117 1262  114   81  212   99  125  137  108  135
  131  157  192  142  173 2918  152 1785  230  164  401  207  238  319
  193  239  116  136  166  154  140  472  138  162  278  133  153  171
  288  237  184  179  189  256  267  300 1071  159  291  224  329  322
  305  132   84  190  349  476  234  202  161  281  221  198  242  670
  276  206  264  180  215  169  282  265  145  488  263  141  172  328
  268  419  254  197  296  187  220  301  320  246  299  229  217  175
  304  211  496  440  283  474  165  227  414  379  549  126  236  807
  200  404  563]
0      5539
2       547
1       526
3       525
4       489
       ...
212       1
236       1
244       1
252       1
379       1
Name: num_contacts, Length: 283, dtype: int64
---------------------------
num_referrals
[0]
0    15544
Name: num_referrals, dtype: int64
---------------------------
num_successful_referrals
[0]
0    15544
Name: num_successful_referrals, dtype: int64

---------------------------
user_id
['user_0' 'user_1' 'user_2' ... 'user_15541' 'user_15542' 'user_15543']
user_13519    1
user_7558     1
user_14525    1
user_11645    1
user_9319     1
             ..
user_3591     1
user_1875     1
user_9006     1
user_11582    1
user_11246    1
Name: user_id, Length: 15544, dtype: int64
---------------------------
birth_year
[1992 1985 1996 1981 1990 1998 2000 1949 1960 1980 1962 1978 1995 1994
 1979 1965 1997 1959 1957 1983 1986 1976 1991 1982 1946 1989 1973 1993
 1977 1987 1999 1971 1975 1966 1988 1961 1958 1972 1974 1984 1968 1942
 1950 1967 1970 1964 1956 1963 1941 1944 1954 1945 1947 1969 1955 1952
 1948 1953 1951 1943 2001 1929 1940 1937 1935 1938 1934 1939 1930]
1992    748
1989    689
1988    680
1993    679
1990    670
       ...
1939      2
1929      1
1930      1
1938      1
1935      1
Name: birth_year, Length: 69, dtype: int64
---------------------------
country
['ES' 'LT' 'IE' 'GB' 'MT' 'FR' 'RO' 'PL' 'AT' 'IT' 'SI' 'CZ' 'BE' 'BG'
 'GI' 'CH' 'GG' 'CY' 'LV' 'DE' 'SK' 'GR' 'DK' 'PT' 'LU' 'HR' 'NL' 'NO'
 'SE' 'AU' 'IM' 'FI' 'EE' 'JE' 'HU' 'RE' 'IS' 'GP' 'LI' 'MQ']
GB    5018
PL    1834
FR    1696
IE     995
RO     873
ES     784
LT     541
PT     487
MT     437
DE     358
CH     350
CZ     287
IT     241
GR     182
CY     154
LV     133
NL     132
HU     125
BE     113
SE     104
BG      78
DK      77
NO      75
SI      71
AT      68
SK      65
HR      49
JE      45
GI      35
FI      32
EE      30
LU      21
GG      14
GP       9
RE       7
IM       7
IS       6
AU       4
LI       4
MQ       3
Name: country, dtype: int64
---------------------------
city
['Madrid' 'Klaipeda' 'Carrickmacross' ... 'Schilde' 'Bralin' 'Andover']
London                1342
Warszawa               330
Paris                  292
Dublin                 286
Vilnius                271
                      ...
Ingolstadt               1
Broxbourne               1
Seregno                  1
Brussels Molenbeek       1
Frimley                  1
Name: city, Length: 5197, dtype: int64
---------------------------
created_date
['2018-09-10 18:46:42.843855' '2018-01-11 18:53:10.531146'
 '2018-11-29 17:29:16.879324' ... '2018-07-13 15:56:50.339746'
 '2018-01-07 15:53:43.719983' '2018-08-18 12:17:02.086815']
2018-11-28 08:28:14.411897    1
2018-01-10 19:38:51.620140    1
2018-12-26 09:42:56.137189    1
2018-01-13 21:38:01.528520    1
2018-10-14 00:14:07.678716    1
                             ..
2018-10-13 06:00:44.628124    1
2018-10-27 14:52:30.735637    1
2018-05-10 16:29:02.948891    1
2018-12-02 14:34:53.659526    1
2018-03-30 14:11:48.307871    1
Name: created_date, Length: 15544, dtype: int64
---------------------------
user_settings_crypto_unlocked
[0 1]
0    12709
1     2835
Name: user_settings_crypto_unlocked, dtype: int64
---------------------------
plan
['STANDARD' 'GOLD' 'SILVER']
STANDARD    14394
SILVER        713
GOLD          437
Name: plan, dtype: int64
---------------------------
attributes_notifications_marketing_push
[ 1. nan  0.]
1.0    9752
0.0     532
Name: attributes_notifications_marketing_push, dtype: int64
---------------------------
attributes_notifications_marketing_email
[ 1. nan  0.]
1.0    9209
0.0    1075
Name: attributes_notifications_marketing_email, dtype: int64
---------------------------
num_contacts
[   3   75   71  219    0   77   10   42   19    6    2   22    5   20
   11  177    1   14   15   24   50   12   21    7   65  119   70   73
   31   16   51   26   79   55   13   18    9   39   56   68    4   62
   40    8   54  115   35   64   28   91   98   30   47   23   41  231
   57   17   32   72   34   36   33   29   43   82   25   83   88   94
  252   61   66   52   44   67   78   37  102  120   45   27   59   53
  244  381   48  123   46   85   95  112  139   38  345  122  432   69
   49  655   93  178  228  110  147   89  168  143   87   80  385  233
   63  214   58  182  307  103  109  105   76  204  104   90  148  113
   60  146  156  312  222  118  209  144  100   92  203   86  155  128
  186  107  124  150  251  174  438  364  167  106  127  129  191  134
  149  121  170   96   74  101  158  111  241  225  213  216  181   97
  163  205  160  130  117 1262  114   81  212   99  125  137  108  135
  131  157  192  142  173 2918  152 1785  230  164  401  207  238  319
  193  239  116  136  166  154  140  472  138  162  278  133  153  171
  288  237  184  179  189  256  267  300 1071  159  291  224  329  322
  305  132   84  190  349  476  234  202  161  281  221  198  242  670
  276  206  264  180  215  169  282  265  145  488  263  141  172  328
  268  419  254  197  296  187  220  301  320  246  299  229  217  175
  304  211  496  440  283  474  165  227  414  379  549  126  236  807
  200  404  563]
0      5539
2       547
1       526
3       525
4       489
       ...
212       1
236       1
244       1
252       1
379       1
Name: num_contacts, Length: 283, dtype: int64
---------------------------
num_referrals
[0]
0    15544
Name: num_referrals, dtype: int64
---------------------------
num_successful_referrals
[0]
0    15544
Name: num_successful_referrals, dtype: int64

---------------------------
user_id
['user_0' 'user_1' 'user_2' ... 'user_15541' 'user_15542' 'user_15543']
user_13519    1
user_7558     1
user_14525    1
user_11645    1
user_9319     1
             ..
user_3591     1
user_1875     1
user_9006     1
user_11582    1
user_11246    1
Name: user_id, Length: 15544, dtype: int64
---------------------------
birth_year
[1992 1985 1996 1981 1990 1998 2000 1949 1960 1980 1962 1978 1995 1994
 1979 1965 1997 1959 1957 1983 1986 1976 1991 1982 1946 1989 1973 1993
 1977 1987 1999 1971 1975 1966 1988 1961 1958 1972 1974 1984 1968 1942
 1950 1967 1970 1964 1956 1963 1941 1944 1954 1945 1947 1969 1955 1952
 1948 1953 1951 1943 2001 1929 1940 1937 1935 1938 1934 1939 1930]
1992    748
1989    689
1988    680
1993    679
1990    670
       ...
1939      2
1929      1
1930      1
1938      1
1935      1
Name: birth_year, Length: 69, dtype: int64
---------------------------
country
['ES' 'LT' 'IE' 'GB' 'MT' 'FR' 'RO' 'PL' 'AT' 'IT' 'SI' 'CZ' 'BE' 'BG'
 'GI' 'CH' 'GG' 'CY' 'LV' 'DE' 'SK' 'GR' 'DK' 'PT' 'LU' 'HR' 'NL' 'NO'
 'SE' 'AU' 'IM' 'FI' 'EE' 'JE' 'HU' 'RE' 'IS' 'GP' 'LI' 'MQ']
GB    5018
PL    1834
FR    1696
IE     995
RO     873
ES     784
LT     541
PT     487
MT     437
DE     358
CH     350
CZ     287
IT     241
GR     182
CY     154
LV     133
NL     132
HU     125
BE     113
SE     104
BG      78
DK      77
NO      75
SI      71
AT      68
SK      65
HR      49
JE      45
GI      35
FI      32
EE      30
LU      21
GG      14
GP       9
RE       7
IM       7
IS       6
AU       4
LI       4
MQ       3
Name: country, dtype: int64
---------------------------
city
['Madrid' 'Klaipeda' 'Carrickmacross' ... 'Schilde' 'Bralin' 'Andover']
London                1342
Warszawa               330
Paris                  292
Dublin                 286
Vilnius                271
                      ...
Ingolstadt               1
Broxbourne               1
Seregno                  1
Brussels Molenbeek       1
Frimley                  1
Name: city, Length: 5197, dtype: int64
---------------------------
created_date
['2018-09-10 18:46:42.843855' '2018-01-11 18:53:10.531146'
 '2018-11-29 17:29:16.879324' ... '2018-07-13 15:56:50.339746'
 '2018-01-07 15:53:43.719983' '2018-08-18 12:17:02.086815']
2018-11-28 08:28:14.411897    1
2018-01-10 19:38:51.620140    1
2018-12-26 09:42:56.137189    1
2018-01-13 21:38:01.528520    1
2018-10-14 00:14:07.678716    1
                             ..
2018-10-13 06:00:44.628124    1
2018-10-27 14:52:30.735637    1
2018-05-10 16:29:02.948891    1
2018-12-02 14:34:53.659526    1
2018-03-30 14:11:48.307871    1
Name: created_date, Length: 15544, dtype: int64